*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    margin: 90px 0px;
}

.counter,
.about,
.post,
.newPost,
.fetch-posts,
.missing {
    flex-grow: 1;
}

.navbar .active {
    color: red;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Footer {
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;
    padding: 10px;
}