.input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3px;
    border: 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.875;
    font-size: 16px;
    box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.15);
}